.next
node_modules
out
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
config/database.config.json

.env*
!.env.example
*.tsbuildinfo

build/
php/vendor/
.private/
build.next/
.build-upload-*/
.build-backup-*/
